@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



@font-face {
    font-family: 'DaysOne';
    src: url(../fonts/DaysOne.ttf) format('ttf');
}


.html {
    scroll-behavior: smooth;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

body {
    font-family: var(--font-main);
    background-color: var(--page-bg);
    color: var(--text-color);
}

a {
    
    cursor: pointer;


}

h4 {
    font-family: 'DaysOne';
}