:root {
	--container-width: 1160px;
	--container-padding: 15px;

	--font-main: 'Rubik', sans-serif;
	--font-accent: 'DaysOne', sans-serif;

	--black: #070707;
	--purple: #0fee61;
	--purpleLight: #000;
	--orange: #F35B04;
	--orangeLight: #F18701;
	--yellow: #F7B801;
	--white: #FAFAFA;
	--whites: #FFFFFF;
	--whiteUltra: #F2F2F2;
	--grey70: #999999;
	--grey90: #E6E6E6;
	
	

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #e0541c;
    --text-color: #fff;
}