.ref {
    display: none;
    position: absolute;
    width: 200px;
    height: 250px;
    opacity: 30%;
    background-image: url('../img/REF_card.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;

}

.card-recipe {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);

    &__img {
        position: absolute;
        width: 300px;
        height: 200px;
        transform: translate(-11%, -0%);
        background-image: url('../img/card-img_1.png');
        background-color: aqua;
    }

    &__timecook {
        position: absolute;
        color: var(--whites);
        font-size: 10px;
        font-weight: bold;

        z-index: 100;
        left: 10px;
        top: 5px;
    }

    &__info {
        position: absolute;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        background-color: var(--whites);

        top: 180px;
        z-index: 15;
    }

    &__rating {
        position: absolute;
        width: 55px;
        height: 15px;
        background-color: var(--whites);
        border-radius: 6px;
        left: 10px;
        top: -8px;

        &-text {
            position: relative;
            margin: 3px 6px 0 0; 
            text-align: right;
            font-size: 9px;
            font-weight: bold;

            &::before {
                content: "";
    
                position: absolute;
                left: 5px;
                top: 0;
                width: 10px;
                height: 10px;
    
                background-image: url('../img/rating_star.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

       
    }

    &__author {
        position: absolute;
        
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 2px solid var(--whites);

        top: -8px;
        right: 15px;
        
        background-image: url('../img/profile_card.png');
        background-size: 110%;
        background-repeat: no-repeat;
        //background-size: contain;
    }

    &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

        font-size: 12px;
        line-height: 14px;
        font-weight: bold;

        width:  180px;
        height: 30px;
        margin: 11px;
    }

    &__hashtags {
        position: absolute;
        display: flex;
        gap: 10px;
        width: 170px;
        height: 18px;

        top: 45px;
        right: 18px;
    }

    &__podborka {
        display: inline-block;
        font-size: 8.5px;
        color: var(--whites);
        border-radius: 10px;
        padding: 0 8px;
        background-color: lightcoral;
    }

    &__podborka2 {
        display: inline-block;
        font-size: 8.5px;
        font-weight: bold;
        color: var(--whites);
        border-radius: 10px;
        padding: 0 8px;
        background-color: var(--orange);
    }
   .testTxt {
    font-family: 'Rubik', sans-serif;
   }


}

