.header {
	background-color: var(--white);
	padding: 10px 0;
	border-bottom: 1px solid var(--grey70);
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_header {}

.nav-list {
	display: flex;
	gap: 20px;
	font-weight: 700;
}

.nav-list li {
	display: inline-block;

	&--active {
		color:var(--orange)
	}
}

.nav-list__item {
	color: var(--black);
    transition: color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        color: var(--orange);
    }

	&--active {
		color: var(--orange);
	}
}

.btn_header {
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--whites);
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: var(--orange);
}