.intro-section1__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-section1 {
    padding-top: 30px;

    &__titles {
        display: flex;
        flex: row;
        justify-content: center;
        padding-bottom: 20px;
    }

    &__title {
        font-family: "LXGW WenKai Mono TC", monospace;
        font-weight: 700;
        font-size: 60px;
        transform: rotate(-10deg);
    }

    &__arrow {
        padding-top: 60px;
        padding-left: 20px;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }
}
