.intro-section1__inner {

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.intro-section1 {
    padding-top: 30px;
    padding-bottom: 120px;

    &__titles {
        display: flex;
        flex: row;
        justify-content: center;
        padding-bottom: 40px;
    }

    &__title {
        font-family: "LXGW WenKai Mono TC", monospace;
        font-weight: 700;
        font-size: 60px;
        transform: rotate(-10deg);
    }

    &__arrow {
        scale: 0.8;
        padding-top: 40px;
        padding-left: 20px;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        margin-left: 50px;
        min-width: 130px;
        height: 160px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/btn_to_klad.svg");
    }
}
